.default-theme {

  .ui.fixed + .ui.grid {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .ui.menu .ui.search .prompt {
    border-radius: 0;
  }

  .item-info {
    min-height: 300px;
  }

  .ui.fixed + .ui.header {
    margin-top: 3em;
    padding-bottom: 4em;
  }

  .link {
    padding-left: 30px;
    position: relative;
  }

  .link:before {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 0;
    display: inline-block;
  }

  .link.brickset:before {
    content: '';
    background: url("/resources/images/brickset_logo.png");
    background-size: cover;
  }

  .link.rebrickable:before {
    content: '';
    background: url("/resources/images/rebrickable_logo.png");
    background-size: cover;
  }

}

@each $i in 5 10 15 20 25 30 40 50 60 {
  .ui.spacing.#{$i} {
    margin-bottom: #{$i}px;
    margin-top: #{$i}px;
  }
}

.ui.text.right {
  text-align: right;
}