.default-theme {
  .pusher {
    display: flex;
    flex-direction: column;
  }

  .pusher > .full.height {
    flex: 1;
  }

  .ui.head {
    padding-top: 4em;
    position: relative;

    h1.header {
      margin-top: 0;
    }
  }

  .ui.card , .ui.card > :first-child {
    border-radius: 0 !important;
  }

  .ui.fixed + .ui.grid {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .ui.menu .ui.search .prompt {
    border-radius: 0;
  }

  .ui.fixed + .ui.header {
    margin-top: 3em;
    padding-bottom: 4em;
  }

  .sort {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }

  .ui.image.load {
      background: url("/resources/images/spinner.svg") no-repeat center;
      background-color: lightgrey;
  }

  .ui.text.menu {
    margin: 0 !important;
  }

  .truncate {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui.search > .results .result {
    .title {
      font-weight: normal;
    }

    em {
      font-weight: 700;
    }

    .image {
      width: 4em;
      height: 4em;
    }
    padding: 0.5em 1em !important;
  }

  .unpadded {
    padding: 0 !important;
  }

  .spacing.top {
    margin-top: 1em;
  }

  .show.all {
    font-size: 1.5em;

    &:after {
      content: ' »';
    }
  }

  .ajax-load > .loader, .empty {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
  }

  .alternate.stripe {
    background-color: #F2F3F5 !important;
  }


  .ui.segment.vertical.noborder {
    border-bottom: 0;
  }


  .sidebar .search .results {
    width: 100%;

    .category {
      .name {
        width: 100%;
      }
      .result {
        margin-left: 0;
      }
    }
  }

  footer {
    padding: 2em 0;
  }

}

@each $i in 5 10 15 20 25 30 40 50 60 {
  .ui.spacing.#{$i} {
    margin-bottom: #{$i}px;
    margin-top: #{$i}px;
  }
}

.ui.text.right {
  text-align: right;
}




