.model-container {
  width: 100%;
  position: relative;
  border: 1px solid #DDDDDD;

  img {
    width: 100%;
    height: 100%;
  }

  .modelviewer-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 26%;
    width: 100%;
  }

  .modelviewer-buttons {
    text-align: right;
    position: absolute;
    top: 0;
    height: 35px;
    width: 100%;
    padding: 3px 4px;

    > button {
      border: none;
      height: 100%;
      margin-left: 5px;
      padding: 0 15px;
    }
  }

  .model-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}