.part {
  .content {
    padding: 0.5em !important;
    overflow: hidden;

    .header {
      font-size: 1em !important;
      margin: 0;
    }

    .description {
      font-size: 0.9em;
      margin: 0 !important;
    }

    .truncate-multiline {
      height: 30px;
      line-height: 13px;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.parts {
  margin: 0 -0.3em !important;

  .part {
    padding: 0.3em !important;
  }
}
