.part {
  .content {
    padding: 7px !important;

    .header {
      font-size: 14px !important;
      margin: 0;
    }
    .description {
      font-size: 12px;
      margin: 0 !important;
    }
  }
}