.ui.comments {
  max-width: 1200px
}

.ratings {
  dl dt {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  dl dd {
    margin-bottom: 1em;
  }
}

.ui.comments .comment > .ratings ~ .content {

}
