{% extends 'base.html.twig' %}

{% block page %}
    <div class="ui grid massive message vertical">
        <div class="ui container">
            <div class="row">
                <div class="h1 ui huge header">
                    Hello, world!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

