# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     printabrick
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started.html
    elastica_host : localhost
    elastica_port : 9200

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Brickset API key obtainable at http://brickset.com/tools/webservices/requestkey
    brickset_apikey:   ~

    # Rebrickable API key obtainable at http://rebrickable.com/api/
    rebrickable_apikey:   ~

    # Path to OSMesa port of LDView
    ldview_bin: /usr/bin/ldview

    # Path to POV-Ray binary - http://www.povray.org/
    povray_bin: /usr/bin/povray

    # Path to stl2pov (version 3.3.0) - https://github.com/rsmith-nl/stltools/releases/tag/3.3
    stl2pov_bin: /usr/bin/stl2pov

    # Path to admesh
    admesh_bin: /usr/bin/admesh