{% macro flash(type,message) %}
    {% if type == 'error' %}
        {% set icon = 'ban' %}
        {% set title = 'flash.error.title' %}
    {% elseif type == 'warning' %}
        {% set icon = 'warning' %}
        {% set title = 'flash.warning.title' %}
    {% elseif type == 'success' %}
        {% set icon = 'check' %}
        {% set title = 'flash.success.title' %}
    {% elseif type == 'info' %}
        {% set icon = 'info' %}
        {% set title = 'flash.info.title' %}
    {% endif %}

    <div class="ui icon {{ type ? type : '' }} message">
        <i class="{{ icon }} icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                {{ title|trans }}
            </div>
            <p>{{ message|trans }}</p>
        </div>
    </div>
{% endmacro %}
