.main.menu {
  .item.toc {
    display: none !important;
  }

  .item.header {
    font-size: 1.3em;
    padding: 0.4em !important;
    .logo {
      margin-right: 0.5em;
      width: 1.7em;
    }
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .left.menu, .right.menu {
      display: none !important;
    }

    .item.toc {
      display: flex !important;
    }
  }
}