{% extends 'ajax.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block content %}
    {% if colors|length > 0 %}
        {% for color in colors %}
            <h5 class="ui horizontal divider header text color-{{ color['color'].id }}">
                {{ color['color'].name }} ({{ color['quantity'] }})
            </h5>
            <div class="segment vertical">

                <div class="ui ten column grid">
                    {% for model in color['models'] %}
                        {{ blocks.model(model['model'],model['quantity'], color['color'].id) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}