{% extends 'ajax.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block content %}

    {% if models|length > 0 %}
        <h4 class="ui horizontal divider header">
            Models
        </h4>
        <div class="ui segment vertical noborder">
            <div class="ui grid">
                <div class="doubling ten column row">
                    {% for model in models %}
                        {{ blocks.model(model['model'],model['quantity']) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if missing|length > 0 %}
        <h4 class="ui horizontal divider header">
            Missing models
        </h4>
        <div class="ui segment vertical noborder">
            <div class="ui ten column grid">
                {% for part in missing %}
                    {{ blocks.part(part['part'],part['quantity']) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {#{% if spareModels|length > 0 %}#}
        {#<h4 class="ui horizontal divider header">#}
            {#Spare parts#}
        {#</h4>#}

        {#<div class="ui segment vertical">#}
            {#<div class="ui ten column grid">#}
                {#{% for model in spareModels %}#}
                    {#{{ blocks.model(model['model'],model['quantity']) }}#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#{% endif %}#}

    {#{% if missingSpare|length > 0 %}#}
        {#<h4 class="ui horizontal divider header">#}
            {#Missing spare models#}
        {#</h4>#}
        {#<div class="ui segment vertical">#}
            {#<div class="ui ten column grid segment">#}
                {#{% for inventoryPart in missingSpare %}#}
                    {#{{ blocks.part(inventoryPart.part.number,inventoryPart.quantity, inventoryPart.color.id) }}#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#{% endif %}#}
{% endblock %}