{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    {% if inventorySets %}
        <h2 class="ui horizontal divider header">Sets</h2>
        <div class="ui six column grid">
            <div class="row">
                {% for inventorySet in inventorySets %}
                    {{ blocks.set(inventorySet.set, inventorySet.quantity) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}