{% extends 'ajax.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block content %}
    {% if inventorySets %}
        <h4 class="ui horizontal divider header">Sets</h4>
        <div class="ui six column grid">
            <div class="row">
                {% for inventorySet in inventorySets %}
                    {{ blocks.set(inventorySet.set, inventorySet.quantity) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}