<footer class="ui black inverted vertical footer segment stripe">
    <div class="ui aligned container">
        <div class="ui horizontal inverted small divided link list">
            <p>Bricks from <a class="item" href="http://www.ldraw.org/" title="LDraw">LDraw™</a> library under <a class="item" href="https://creativecommons.org/licenses/by/2.0/" title="CC License">Creative Commons Attribution 2.0</a>. Data and images from <a class="item" href="https://brickset.com/" title="Brickset">Brickset</a> and <a class="item" href="https://rebrickable.com/" title="Rebrickable">Rebrickable.</a></p>
            <p >LEGO<sup>®</sup>, the LEGO logo, the Minifigure, and the Brick and Knob configurations are trademarks of the LEGO Group of Companies which does not sponsor, authorize, or endorse this site.</p>
            <div class="divider ui inverted"></div>
            <p>Copyright &copy; 2017 {% if '2017' != 'now'|date('Y') %}- {{ 'now'|date('Y') }}{% endif %} {{ name }}. Free software under GNU GPL v2. Sources and issues on <a class="item" href="https://github.com/hubnedav/PrintABrick" title="Github">GitHub</a>.</p>
        </div>
    </div>
</footer>