{% extends 'base.html.twig' %}

{% block title %}{{ 'page.error.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="ui center aligned icon header">
        <i class="circular warning icon"></i>
        {{ 'page.error.large'|trans }}
    </h1>
    <p class="ui center aligned">{{ 'page.error.text'|trans }}</p>
{% endblock %}