{% if options['class'] == 'asc' %}
    {% set icon = '<i class="icon sort content ascending"></i>' %}
    {% set options = (options)|merge({'class':'item active'}) %}
{% elseif options['class'] == 'desc' %}
    {% set icon = '<i class="icon sort content descending"></i>' %}
    {% set options = (options)|merge({'class':'item active'}) %}
{% else %}
    {% set icon = null %}
    {% set options = (options)|merge({'class':'item'}) %}
{% endif %}

<a {% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ icon|raw }} {{ title }}</a>
