{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    {% if description|length %}
        <div class="ui segment vertical">
            {{ description|raw }}
        </div>
        <div class="ui segment vertical">
            <p class="ui text right">{{ 'set.brickset.credit' | trans | raw }}</p>
        </div>
    {% else %}
        {{ blocks.empty('empty.description.title'|trans, 'empty.description.message'|trans) }}
    {% endif %}
{% endblock %}